<% @zoos.each do |zoo| %>
    <h1><%= link_to "#{zoo.name}", zoo_path(zoo) %></h1>
    <h4>Animal Capacity: <%= zoo.animal_capacity %></h4>
    <h4>Zoo-Keeper Capacity: <%= zoo.keeper_capacity %></h4>
    <p>Animals Hosted</p>
        <ul>
            <% zoo.animals.each do |animal| %>
                <li><%= animal.name %></li>
                <li><%= animal.species %></li>
            <% end %>
        </ul><br>
    <p>Zoo Keepers Employed</p>
        <ul>
            <% zoo.keepers.each do |keeper| %>
                <li><%= keeper.name %></li>
            <% end %>
        </ul>
<% end %><br><br>