<h1>Other Zoos</h1>

<% @zoos.each do |zoo| %>
    <h3><%= zoo.name %> | Owner: 
        <% zoo.users.each do |user| %>
            <%= user.name if user.name %>, <%= user.email %></h3>
        <% end %>

    <p>Zoo Keepers:</p>
        <% zoo.keepers.each do |keeper| %>
            <ul>  
                <li><%= keeper.name %></li>
            </ul>
        <% end %><br>
    <p>Zoo Animals:</p> 
        <% zoo.animals.each do |animal| %>
            <ul>
                <li><%= animal.name %> the <%= animal.species %></li> 
            </ul>
        <% end %>
<% end %>