<h1><%= @zoo.name %></h1>
    <h4>Animal Capacity: <%= @zoo.animal_capacity %></h4>
    <p>Animals Hosted</p>
        <ul>
            <% @zoo.animals.each do |animal| %>
                <li><%= link_to "#{animal.name}", user_animal_path(current_user, animal) %> </li>
            <% end %>
            <% if @zoo.animal_capacity_reached? %>
                <p>You have reached your animal limit!</p>
            <% else %>
                <%= link_to "Add an Animal", new_user_animal_path(current_user, @zoo) %>
            <% end %>
        </ul><br>
    <h4>Zoo Keeper Capacity: <%= @zoo.keeper_capacity %></h4>
    <p>Zoo Keepers Employed</p>
        <ul>
            <% @zoo.keepers.each do |keeper| %>
                <li><%= link_to "#{keeper.name} ", user_keeper_path(current_user, keeper) %></li>
            <% end %>
            <% if @zoo.keeper_capacity_reached? %>
                <p>You have reached your keeper limit!</p>
            <% else %>
                <%= link_to "Add a Zoo Keeper", new_user_keeper_path(current_user, @zoo) %>
            <% end %>
        </ul>