<%= form_for keeper, url: {action: action} do |f| %>
    <div class="field">
        <%= f.label :name %>:
        <%= f.text_field :name %>
    </div>
    <% if action == "create" %>
        <div class="field">
            <%= f.label :zoo_id, "Select which of your zoos this keeper belongs to"%>
            <%= f.collection_select :zoo_id, current_user.zoos, :id, :name %>
        </div>
    <% else %>
        <div class="field">
            <%= f.hidden_field :zoo_id, value: keeper.zoo_id %>
        </div>
    <% end %><br>

    <div class="actions">
        <% if action == "create" %>
            <%= f.submit "Create Keeper" %>
        <% else %>
            <%= f.submit "Update Keeper" %>
        <% end %>
    </div>
<% end %><br>