<%= form_for @keeper do |f| %>
    <div class="field">
        <%= f.label :name %>:
        <%= f.text_field :name %>
    </div><br>

    <div class="field">
        <%= f.label :zoo_id %>:
        <%= f.collection_select :zoo_id, Zoo.order(:name), :id, :name, include_blank: true %>
    </div><br>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>