<%= form_for @keeper do |f| %>
    <div class="field">
        <%= f.label :name %>:
        <%= f.text_field :name %>
    </div><br>

    <div class-"field">
        <%= f.label :zoo_id, "Select which of your zoos this animal belongs to"%>
        <%= f.collection_select :zoo_id, current_user.zoos, :id, :name %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>