<h1><%= animal.name %> the <%= animal.species %></h2>
<h4>Personality: <%= animal.personality %></h4>
<h4>Notes:
<div id="body-<%= animal.id %>"></div>
<button class="js-more" data-id="<%= animal.id %>">More Info</button>