<%= form_for @animal do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :species %>
        <%= f.text_field :species %>
    </div>

    <div class="field">
        <%= f.label :personality %>
        <%= f.text_field :personality %>
    </div>

    <div class="field">
        <%= f.fields_for :keepers do |keeper| %>
            <%= keeper.label :name, "Keeper Name:" %>
            <%= keeper.text_field :name %><br>
            <%= keeper.hidden_field :zoo_id, value: "#{current_user.zoo_id}"%>
        <% end %>
    </div>


    <div class="field">
        <%= f.hidden_field :zoo_id, value: "#{current_user.zoo_id}" %>
    </div>

    <div class="actions">  
        <%= f.submit %>
    </div>
<% end %>