<%= form_for animal, url: {action: action} do |f| %>
    <div class="field">
        <%= f.label :name %>:
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :species %>:
        <%= f.text_field :species %>
    </div>

    <div class="field">
        <%= f.label :personality %>:
        <%= f.text_field :personality %>
    </div>

    <% if action == "create" %>
        <div class-"field">
            <%= f.label :zoo_id, "Select which of your zoos this animal belongs to"%>
            <%= f.collection_select :zoo_id, current_user.zoos, :id, :name %>
        </div>
    <% else %>
        <div class="field">
            <%= f.hidden_field :zoo_id, value: animal.zoo_id %>
        </div>
    <% end %><br>

    <div class="actions">
        <%if action == "create" %>  
            <%= f.submit "Create Animal" %>
        <% else %>
            <%= f.submit "Update Animal" %>
        <% end %>
    </div>
<% end %><br>