<h1>List of Animals in <%= link_to "#{@zoo.name}", zoo_path(@zoo) %></h1>
    <% if @zoo.animals.empty? %>
        <p>Uh Oh, you have no Animals in your zoo!<p> <%= link_to "Add a New Animal", new_zoo_animal_path %><p>
    <% else %>
        <% @zoo.animals.each do |animal| %>
            <h3><%= link_to "#{animal.name}", animal_path(animal) %></h3>
            <ul>
                <li>Species: <%= animal.species %></li>
                <li>Personality: <%= animal.personality %></li>            
                <li>Keepers Needed: <%= animal.keepers_needed %></li>
                <li>Last Fed: <%= animal.last_fed %></li>
                <li>Last Cleaned: <%= animal.last_cleaned %></li>
            </ul>
        <% end %>
        <% if @zoo.animal_capacity_reached? %>
            <p></p>
        <% else %>
            <%= link_to "Add a New Animal", new_zoo_animal_path(:zoo_id) %>
        <% end %>
    <% end %>


                        