<h1>List of Animals in <%= current_user.zoo.name %></h1>
    <% current_user.zoo.animals.each do |animal| %>
        <h3><%= link_to "#{animal.name}", animal_path(animal) %><h3>
        <ul>
            <li>Species: <%= animal.species %></li>
            <li>Personality: <%= animal.personality %></li>            
            <li>Keepers Needed: <%= animal.keepers_needed %></li>
            <li>Last Fed: <%= animal.last_fed %></li>
            <li>Last Cleaned: <%= animal.last_cleaned %></li>
        </ul>
    <% end %>

<%= link_to "Add a New Animal", new_animal_path %>
                        