<h1><%= @animal.name %></h1>
    <ul>
        <li><%= @animal.species %></li>
        <li><%= @animal.gender %></li>
        <li><%= @animal.personality %></li>
        <li><%= @animal.hungry %></li>
        <li><%= @animal.clean %></li>
    </ul>