<div class="zooName"><h1><%= @animal.zoo.name %></h1></div>
<a href="#" class="js-next" data-id="<%= @animal.id %>">Next Animal...</a>
<h1 class="animalName"><%= @animal.name %></h1>
<p class="animalSpecies">Species: <%= @animal.species %></p>
<p class="animalPersonality">Personality: <%= @animal.personality %></p>
<p class="animalNotes">Notes: </p> 
<% @animal.comments.each do |comment| %>
  <ul>
    <li class="animalNotes"><%= comment.notes %></li>
  </ul>
<% end %>

<%= link_to "Edit this Animal", edit_user_animal_path(current_user, @animal) %><br>

  <h2><%= "Add a note for #{@animal.name}!" %></h2><br>

  <%= form_for ([current_user, @animal, Comment.new]) do |f| %>
    <%= f.hidden_field :animal_id, value: @animal.id %>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
    <%= f.submit "Add Note" %>
  <% end %>

  <script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function () {
      var id = $(this).data("id");
      // parseInt($(".js-next").attr("data-id")) - 1;
      $.get("/users/" + <%= current_user.id %> + "/animals/" + id + ".json", function (data) {
        $(".animalName").text(data["name"]);
        $(".animalSpecies").text(data["species"]);
        $(".animalPersonality").text(data["personality"]);
        $(".animalNotes").text(data["comments"][]);
        // re-set the id to current on link
        $(".js-next").attr("data-id", data["id"]);
      });
    });
  });
</script>
