<h1><%= @animal.name %></h1>
    <ul>
        <li>Species: <%= @animal.species %></li>
        <li>Personality: <%= @animal.personality %></li>
        <li>Keepers Needed: <%= @animal.keepers_needed %></li>
        <li>Last Fed: <%= @animal.last_fed %></li>
        <li>Last Cleaned: <%= @animal.last_cleaned %></li>
    </ul>