<div class="zooName"><h1><%= @animal.zoo.name %></h1></div>

<div class="animal">
  <h1 class="animalTraits"><%= @animal.name %> the <%= @animal.species %></h1>
  <p class="animalPersonality">Personality: <%= @animal.personality %></p>

  <p>Notes: </p>
  <div class="comments">
    <%= render 'comments/comments' %>
  </div>
</div>

<%= link_to "Edit this Animal", edit_user_animal_path(current_user, @animal) %><br><br>

<h2><%= "Add a note for #{@animal.name}!" %></h2>
<%= form_for ([current_user, @animal, @comment]) do |f| %>
  <%= f.hidden_field :animal_id, value: @animal.id %>
  <%= f.text_area :notes %>
  <p><%= f.submit "Add Note", data: { disable_with: false } %></p>
<% end %>

